<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Previsão do Tempo</h2>

{% if weather_data %}
    <ul>
        {% for cidade in weather_data %}
            <li>
                <h3>{{ cidade.cidade }}</h3>
                <p>Temperatura: {{ cidade.temperatura }}°C</p>
                <p>Condição: {{ cidade.descricao }}</p>
                <img src="{{ cidade.icone }}" alt="Ícone do clima">
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Você ainda não adicionou cidades.</p>
{% endif %}
</body>
</html>