{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Dashboard Climático</h2>

    <!-- Formulário para adicionar cidade -->
    <form method="POST" action="{% url 'adicionar_cidade' %}">
    {% csrf_token %}
    <input type="text" name="cidade_nome" placeholder="Digite o nome da cidade" required>
    <button type="submit">Adicionar Cidade</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

    {% if weather_data %}
        <div class="weather-cards">
            {% for data in weather_data %}
                <div class="weather-card">
                    <h3>{{ data.cidade }}</h3>
                    <p><strong>Temperatura:</strong> {{ data.temperatura }}°C</p>
                    <p><strong>Descrição:</strong> {{data.descricao}}</p>
                    <img src="https://openweathermap.org/img/wn/{{ data.icone }}@2x.png" alt="Ícone do Clima">
                    <br>
                    <!-- Botão para remover cidade -->
                    <form method="POST" action="{% url 'remover_cidade' cidade_id=data.cidade_id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remover</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Você ainda não adicionou cidades ao seu perfil.</p>
    {% endif %}
</div>
{% endblock %}
